#preview{
    width: 500px;
    display: block;
    margin: 20px 20px;
}
#upload {
    display: none;
}
#uploader{
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
}
#uploader img{
    width: 100px;
}